@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 style="text-align:center; margin-top:80px;">
        Welcome to the finance tracking app :)
        In this application you can add your income and expenses, check your expenses and get reports.
        I hope you enjoy it, enjoyable days :)
    </h3>
</div>
