@model DataLayer.Entities.Income
@{
    ViewData["Title"] = "AddIncome";
}

<h1>AddIncome</h1>
<input type="hidden" asp-for="User.Username" value="@User.Identity.Name" />
<form asp-action="AddIncome" method="post">
    <label>Gelir Miktarı:</label>
    <input type="number" asp-for="Amount" />

    <label>Kategori:</label>
    <select asp-for="CategoryId">
        <option value="1">Maaş</option>
        <option value="2">Kira Geliri</option>
    </select>
    <label>Gelir Tarihi:</label>
    <input type="date" id="Date" name="Date" asp-for="Date">
    <button type="submit">Gelir Ekle</button>
</form>