@model List<ServiceLayer.DTOs.IncomeExpenseListViewDTO>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Amount</td>
                <td>@item.Date.ToString("dd-MM-yyyy")</td>
                <td>@item.Type</td>
                <td>
                    <a class="btn btn-warning" href="/Transactions/Edit/@item.Id">Edit</a>
                    <a class="btn btn-danger" href="/Transactions/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
