@model ServiceLayer.DTOs.ReportingViewModel
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/daterangepicker/3.1.0/daterangepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/daterangepicker/3.1.0/daterangepicker.min.js"></script>

</head>
<div class="container mt-4">
    <form method="get" asp-action="GetSummary">
        <div class="row mb-3">
            <div class="form-group">
                <label for="daterange">Tarih Aralığı:</label>
                <input type="text" id="daterange" class="form-control" name="daterange" />
            </div>
            <div class="col-md-6">
                <label>Kategori:</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Value", "Text"))" class="form-control">
                    <option value="">Tüm Kategoriler</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="incomeExpenseChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success btn-lg">Show</button>
                <button type="submit" formaction="/download-report" class="btn btn-secondary mt-2">Download</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    $(function () {
        $('#daterange').daterangepicker({
            locale: {
                format: 'DD-MM-YYYY'
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        });
    });
</script>
<script>
    var ctx = document.getElementById('incomeExpenseChart').getContext('2d');
    var chartData = {
        labels: ['Income', 'Expense', 'Balance'],
        datasets: [{
            data: [@Model.TotalIncomeFloat, @Model.TotalExpenseFloat, @Model.BalanceFloat],
            backgroundColor: ['#28a745', '#dc3545', '#ffc107']
        }]
    };

    var incomeExpenseChart = new Chart(ctx, {
        type: 'pie',
        data: chartData,
    });
</script>
